/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


@media print{
  display: none;
}


.hide {
  display: none;
}

.show {
  display: block;
}

.image{
  background-image: url('school-hd-wallpapers-6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
        font-family: 'rudiment';
        src: url('rudiment-webfont.woff') format('woff'),
          url('rudiment-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
}

.chalk {
   font-family: 'rudiment';
   color:white;
}

p.chalk{
  font-size: 23px;
}
li.chalk{
  font-size: 23px;
}

h1.chalk {
  font-size: 70px;
}

h2.chalk {
  font-size: 50px;
}

label.chalk{
  font-size: 23px;
  white-space:nowrap;
}

a.chalk{
  font-weight: bold;
  text-decoration: underline;
}

.right{
  float:right;
}

.border {
  border-style: solid;
  border-width: 2px;
}

.offset{
  margin-top: 12px;
}
