

.habilidades_unit_plan{
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

.ejes_unit_plan{
  width: 34%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

.actitudes_unit_plan{
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

.fila_seis_unit{
  width:20%;
  display: inline-block;
  padding-top: 10px;
}
