

.habilidades_unit_plan{
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  border-right: solid;
  border-width: 1px;
}

.ejes_unit_plan{
  width: 34%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  border-right: solid;
  border-width: 1px;
}

.actitudes_unit_plan{
  width: 33%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

.fila_seis_unit{
  width:20%;
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  font-weight:bold;
  border-right: solid;
  border-bottom: solid;
  border-width: 1px;
}

.ultima_fila{
  width:20%;
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  border-bottom: solid;
  border-right: solid;
  border-width: 1px;

}


#table_unit_plan{
  border:solid;
  border-bottom: none;
  border-width: 1px;

}

#objetivo{
  border-bottom: solid;
  border-top: none;
  border-width: 1px;

}
#objetivo em{
  font-weight: bold;
  font-style: normal;
}


#tercera_fila{
  border-bottom: solid;
  border-width: 1px;

}

#tercera_fila em{
  font-weight: bold;
  font-style: normal;
}


.ultima_columna{
  border-right: none;

}
