<div class="page-header">
  <h1 class="chalk">Contacto</h1>
</div>
<p class="chalk">Para dudas, consultas y reclamos, contactar a los desarrolladores: </p>
<ul>
  <li class="chalk">Rafael Carmona: rlcarmona@uc.cl</li>
  <li class="chalk">Sebastián Butorovic: sibutorovic@uc.cl</li>
  <li class="chalk">Francisco Valdés: fjvaldes1@uc.cl</li>
</ul>
