@import "bootstrap-sprockets";
@import "bootstrap";

.fila_celeste{
  background-color: LightBlue;
  text-align: center;
  width: 100%;
  border-bottom: solid;
  border-width: 1px;

}

#primer_semestre{
  display: inline-block;
  width: 50%;
}

#segundo_semestre{
  display: inline-block;
  width: 50%;
}


.celda_fila_2{
  display: inline-block;
  width:33%;
  //border:solid;
}

#celda_2_2{
  width:34%;
}

.unidad{
  //border:solid;
  display: inline-block;
  width:25%;
}

table{
  //table-layout: fixed;
  width:100%;
}

//.lista_ejes{
  //border:solid;
  //width:12%;
  //float:left;
//}

.eje_tematico{
  display: inline-block;
  width:12.5%;
}

.habilidades{
  width: 12.5%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}


.espacio_vacio{
  border-right: solid ;
  padding-top: 18px;
  width:25%;
  float:left;
  text-align: center;
}

.espacio_vacio_derecha{
  border:none;
}
