@import "bootstrap-sprockets";
@import "bootstrap";

.fila_celeste{
  background-color: #337ab7;
  text-align: center;
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
  color:white;

}

#primer_semestre{
  display: inline-block;
  width: 50%;
}

#segundo_semestre{
  display: inline-block;
  width: 50%;
}


.celda_fila_2{
  display: inline-block;
  width:33%;
  //border:solid;
}

#celda_2_2{
  width:34%;
}

.unidad{
  margin-top: 10px;
  padding: 10px;
  width:40%;
  display: inline-block;
}

table{
  width:100%;
  border:solid;
}

.tabla_unidad{
  border:solid;
  text-align: center;
}

.habilidades_plan{
  width:50%;
  display: inline-block;
  border-right: solid;
  float:left;
}

.ejes_tematicos_plan{
  width:50%;
  display: inline-block;
}

.download{
  display: block;
}
