<div class="page-header">
  <h1>Contacto</h1>
</div>
<p>Para dudas, consultas y reclamos, contactar a los desarrolladores: </p>
<ul>
  <li>Rafael Carmona: rlcarmona@uc.cl</li>
  <li>Sebastián Butorovic: sibutorovic@uc.cl</li>
  <li>Francisco Valdés: fjvaldes1@uc.cl</li>
</ul>
