<div class="page-header">
  <%= link_to unit_plans_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_unit_plan_path(@unit_plan), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Unit Plan</h1>
</div>

<table >

  <tr>
    <td class="fila_celeste">Planificación Unidad Didáctica</td>
  </tr>

  <tr>
    <td>Objetivo o propósito general de la unidad:</td>
  </tr>



  <tr>
    <td class = "habilidades_unit_plan">Habilidades</td>
    <td class = "ejes_unit_plan">Eje 1</br>Eje 2</br>Eje 3</td>
    <td class = "actitudes_unit_plan">Actitudes</td>
  </tr>


  <tr>
    <td class = "fila_seis_unit">Conocimiento(s) previo(s)</td>
    <td class = "fila_seis_unit">Contenido(s)</td>
    <td class = "fila_seis_unit">Actividad(es) genérica(s)</td>
    <td class = "fila_seis_unit">Indicadores de evaluación o logro</td>
    <td class = "fila_seis_unit">Tiempo estimado</td>
  </tr>

  <tr>
    <td class = "espacio_vacio"> </td>
    <td class = "espacio_vacio"> </td>
    <td class = "espacio_vacio"> </td>
    <td class = "espacio_vacio_derecha"> </td>
  </tr>



</table>
